
<div class="body">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>401</h1>
            </div>
            <h2>NO AUTORIZADO!</h2>
            <p>Esta Página solo da acceso a usuarios que tienen rol de "Coordinador" o "Administrador". Si usted es usuario Supervisor, puede usar la app.</p>
            <button mat-raised-button [routerLink]="''" (click)="cerrarSesion()">haz click aqui para regresar a la pagina de inicio</button>
        </div>
    </div>
</div>
