<div class="body">
    <div class="wrapper">
    
        <!-- sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Nombre del coordinador</h3>
            </div>
    
            <ul class="list-unstyled components">
                <p>heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
    
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">item 1</a></li>
                        <li><a href="#">item 2</a></li>
                        <li><a href="#">item 3</a></li>
                    </ul>
                </li>
                <li><a href="#">about</a></li>
                <li><a href="#">portafolio</a></li>
                <li><a href="#">users</a></li>
            </ul>
        </nav>
    
        <!-- contenido de la pagina -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn">
                            <i class="navbar-toggler-icon"></i>
                        </button>
                        <a class="navbar-brand" href="">Dashboard</a>
                    </div>
                </div>
            </nav>

            <!-- cuerpo -->
            <div class="cuerpo">
                <div class="row justify-content-around">
                    <div class="col-lg-4" *ngFor="let item of data">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">{{item.descripcion_zona}}</div>
                                <h6 class="card-subtitle mb-2 text-muted">mundo</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tempora, doloribus minus exercise.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>