
.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar{
    background: #7386d5;
    color: #ffffff;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
    z-index: 1;
}

#sidebar .sidebar-header{
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    color: #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul li a:hover{
    background: rgba(255,255,255,0.5);
    border-right: 5px solid rgba(0,0,0,0.5);
}

a[aria-expanded="true"]{
    color: #fff;
    background: #6d7fcc;
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    color: #fff;
}

#sidebar.active{
    margin-left: -250px;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebarCollapse{
    display: none;
}

#navbar{
    z-index: 1;
}

#content{
    width: 100%;
    height: 100vh;
}
.cuerpo{
    padding: 2%;
}
.caja2{

    background: blue;
}
.caja3{
    background: red;
}
.caja4{
    background: green;
}

@media (max-width: 768px){
    #sidebar{
        margin-left: -250px;
    }

    #sidebar.active{
        margin-left: 0;
    }

    #sidebarCollapse{
        display: inline-block;
        background: none;
        border: none;
        border-color: none;
    }
}
