h1 {
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    margin-top: 15%;
}

a{
    text-align: center;
    text-decoration: none;
    display: block;
}

a:hover{
    color: red;
}