<nav id="la-navbar" class="navbar navbar-dark bg-dark fixed-top">
    <button id="toggler" class="navbar-toggler" type="button" (click)="openNav()">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="d-flex flex-column">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
</div>
          
<!-- Use any element to open the sidenav -->